.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Màu nền của trang web */
}

h1 {
  color: rgb(102, 0, 102); /* Màu chữ tím */
  font-size: 36px;
}
